.btns-container {
  margin-top: 50px;
  flex: auto;
  margin-left: 2%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: sticky;
  margin-left: 15%;
}

.btn {
  width: 190px;
  height: 50px;
  color: aliceblue;
  background: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  display: inline;
  margin: 0% 5% 5% 5%;
}


@media only screen and (max-width: 915px) {
  .btns-container{
    margin-top: 20%;
  }
  
  }