<main class="mt-5 main-products">
    <div class="btns-container">
        <button class="btn">Almuerzo</button>
        <button class="btn" >Desayuno</button>
    </div>
    <section class="container-products">
        <div class="card">
            <div class="card-info">
                <p class="fw-bolder h5text-title">
                    Cafe americano con leche
                    <img src="../../../../assets/img/cafeAmericano.png" alt="imagen de cafe" align="right">
                </p>
                <h2 class="text-titlePrice">$5</h2>
            </div>
            <div class="container-button">
                <button class="btnAgregar">
                    <span class="text">Agregar</span>
                </button>
            </div>
        </div>        
    </section>
</main>
