<main class="mt-5 main-products">
    <div class="btns-container">
        <button class="btn" (click)="filterProducts('Almuerzo')">Almuerzo</button>
        <button class="btn" (click)="filterProducts('Desayuno')">Desayuno</button>
    </div>
    <section class="container-products">
        <div class="card" [id]="'product'+data.id" *ngFor ='let data of dataProducts'>
            <div class="card-info">
                <p class="fw-bolder title-card">
                    {{data.name}}
                    <img [src]="data.image" [alt]="data.name" align="right">
                </p>
                <h2 class="text-titlePrice">${{data.price}} </h2>
            </div>
            <div class="container-button">
                <button class="btnAgregar" [id]="'btnId'+data.id" (click)="getProduct(data)">
                    <span class="text">Agregar</span>
                </button>
            </div>
        </div>
    </section>
</main>
