<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BQ - Waiter</title>
   
</head>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-warning" id="sidebar-wrapper">
        <div class="mt-5 pb-5 sidebar-heading text-center  primary-text fw-bold text-uppercase border-bottom">
            <i class=""></i>Burger <br> Queen
        </div>
        <div class="list-group list-group-flush my-3">
            <p class="h4 mt-5 list-group-item active">
                <i class="h1 fas fa-user me-2"></i>
                <br>
                Waiter
                <i class="fas fa-utensils-alt me-2"></i>
            </p>
            <p class= "h4 mt-5 list-group-item active">
                <i class="fas fa-utensils h1"></i>
                <br>
                Ordenes listas
            </p>
        </div>
    </div>

   