<div class="d-flex bg-warning" id="wrapper">
    <div class="" id="sidebar-wrapper">
        <div class="mt-5 sidebar-heading text-center primary-text fw-bold text-uppercase title-nav">
            Burger 
            <br> 
            Queen
        </div>
        <div class="list-group list-group-flush my-3">
            <p class="h4 mt-2 list-group-item active">
                <i class="fas fa-user-circle h1 me-2"></i>
                <br>
                Waiter
                <i class="fas fa-utensils-alt me-2"></i>
            </p>
            <p class= "h4 mt-3 list-group-item active">
                <i class="fas fa-utensils h1"></i>
                <sup class="sup-orders">0</sup>
                <br>
                Ordenes listas
            </p>
        </div>
    </div>

   