@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Roboto+Mono:wght@100;300&display=swap');
:root {
    --color-principal: yellow;
  }

  #sidebar-wrapper {
    min-height: 1000vh;
  }

  .sidebar-heading{
    font-family: 'Fredoka', sans-serif !important;
    font-size: 2.2rem !important;
    font-weight: 900;
    margin-top: 100% !important;
  }
  
  .sup-orders{
    top: -1em;
    right: -0.5em;  
  }

  .list-group-item {
    border: none;
    padding: 20px 30px;
    text-align: center;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      width: 100%;
    }

   

.cart{
    display: flex;
    flex-direction: column;
    margin-left: 20% ;
  border-radius: 20px;
  background-color: darkgray;

}
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }