<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BQ - Waiter</title>
   
</head>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-warning" id="sidebar-wrapper">
        <div class="sidebar-heading text-center  primary-text fw-bold text-uppercase border-bottom"><i
            class=""></i>Burger <br> Queen</div>
        <div class="list-group list-group-flush my-3">
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text active"><i
                class="fas fa-user me-2"></i>Waiter</a>
                <i class="fas fa-user"></i>

        </div>
    </div>

   