@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Roboto+Mono:wght@100;300&display=swap");

input {
  border-bottom: 2px solid black;
}

@media only screen and (max-width: 1580px)  {

  .col-lg-5{
height: 20%;

  }

  .alert{
z-index: 1;
position: absolute;
  }


  .titulo {
    color: rgb(0, 0, 0);
    font-size: 380%;
    font-family: "Fredoka", sans-serif;
    padding-left: 10%;
    padding-top: 5%;

  }

  .bg-image {
    background-image: url(./img/fondoBdesk.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .card-body {
    width: 100%;
    height: min-content;
  }

  

  input {
    color: rgb(0, 0, 0) !important;
    width: 320px;
    height: 50px;
    cursor: text;
  }

  .placeholder {
    background-color: white !important;
  }



  .form-label {
    color: rgb(0, 0, 0) !important;
    font-family: "Fredoka", sans-serif !important;
    font-size: 140%;
  }

  .btn {
    background: rgb(0, 0, 0);
    font-family: "Fredoka", sans-serif;
    padding: 2%;
    border-radius: 15px;
    width: 50%;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 1%;
    box-shadow: 1px 2px 4px rgba(20, 20, 20, 0.467);
  }

  .btn:hover {
    background-color: black;
    color: white;
    border-color: rgb(0, 0, 0);
  }
}

/*tablet*/
@media only screen and (max-width: 965px)  {
  * {
    margin: 0;
  }

  
  input {
    color: rgb(0, 0, 0) !important;
    width: 520px;
    height: 50px;
    cursor: text;
  }

  .form-label {
    color: rgb(0, 0, 0) !important;
    font-family: "roboto", sans-serif;
  }


  #exampleInputEmail1 {
    background-color: transparent !important;
  }
  #exampleInputPassword1{
    background-color: transparent !important;

  }

  .card-body {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    margin: 20px;
    margin-left: 6%;
    width: 720px;
    height: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 6px rgba(29, 29, 29, 0.467);
  }

  .titulo {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1000%;
    text-shadow: 2px 4px 6px rgba(255, 255, 255, 0.7);
  }

  .bg-image {
    background-image: url(../../../assets/img/bglogin3.png);
    background-size: cover;
    width: 100vw;
    height: 110vh;
    opacity: 2;
  }

  .btn {
    background: rgb(0, 0, 0);
    font-family: "Fredoka", sans-serif;
    padding: 2%;
    border-radius: 15px;
    width: 30%;
    color: rgba(255, 255, 255, 0.9);
    margin-top: 1%;
    box-shadow: 1px 2px 4px rgba(20, 20, 20, 0.467);
  }

  .btn:hover {
    background-color: rgb(70, 69, 69);
    color: white;
    border-color: rgb(0, 0, 0);
  }


  @media only screen and (max-width: 755px) {

  .card-body {
    background:  rgb(248, 248, 85);
    border-radius: 20px;
    margin: 20px;
    margin-top: 19%;
    margin-left: 5%;
    width: 620px;
    height: auto;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 6px rgba(29, 29, 29, 0.467);
  }

  .welcome{
    margin-top: 50%;
    width: 2rem;
    color: rgb(0, 0, 0) !important;
    font-family: "roboto", sans-serif;
 
  }

  .titulo {
    margin-top: 50%;
    color: rgba(0, 0, 0, 0.9);
    font-size: 1000%;
    text-shadow: 2px 4px 6px rgba(255, 255, 255, 0.7);
  }

  .bg-image {
    background-image: url(./img/fondoBdesk.png);
    background-color: rgb(248, 248, 85);
    background-size: cover;
    width: 100vw;
    height: 110vh;
    opacity: 2;
  }


  

  }



}
