<div class="bg-image row">
    <div class="col-lg-5">
        <h1 class="titulo p-5">BURGER QUEEN</h1>
        <div class="card-body">
            <form  [formGroup]="credential" (ngSubmit)="process()" class="p-5 form">
                <!--<form >-->
                <div class="mb-3">
                    <label for="exampleInputUser" class="form-label">USUARIO</label>
                    <input type="email" formControlName="user" class="form-control placeholder text-white fs-2 " id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="user">
                    <div class="underline">
                        __________________________________________________________________________________________________
                    </div>

                    <div class="alert alert-danger mt-1" [hidden]="user.valid || user.untouched" >
                        <Span *ngIf="user.errors?.['required']">El campo usuario es obligatorio</Span>
                        <Span *ngIf="user.errors?.['email']">Ingresa un correo valido</Span>
                    </div>
                    <div id="emailHelp" class="form-text text-white fs-4">No compartas tu correo con nadie mas!.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">PASSWORD</label>
                    <input type="password" formControlName="password" class="form-control placeholder text-white fs-2 " id="exampleInputPassword1" name="password">
                    <div class="alert alert-danger mt-1" [hidden]="password.valid || password.untouched" >
                        Ingresa una contraseña minimo 8 caracteres
                    </div>
                    <div class="underline">
                        __________________________________________________________________________________________________
                    </div>
                </div>
               
                <button type="submit" class="btn fs-2" [disabled]="credential.invalid">
                    Ingresar
                </button>
            </form>
        </div>
        <div class="col-lg-7">

            <!--</form>
<div class="nb-2">
    <label class="form-group">
     Usuario:
    </label>
    <input type="email" class="form-control" name="user" placeholder="porfavor ingrese su usuario" [(ngModel)]="credential.user">
</div>
<div>
    <label class="form-group">
     Contrasena:
    </label>
    <input type="password" class="form-control" name="password" placeholder="por favor ingrese una contrasena" [(ngModel)]="credential.password">
</div>
<button class="btn btn-primary">
Enviar
</button>-->
        </div>
    </div>
</div>