<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BQ - Waiter</title>
</head>
<div class="row container-waiter">
  <app-nav class="col-sm-2 nav"></app-nav>

  <ng-container *ngIf="view === 'main'">
    <app-products class="col-sm-7 products"></app-products>
    <app-cart class="col cart"></app-cart>
  </ng-container>

  <ng-container *ngIf="view === 'ordersReady'">
    <app-orders-ready></app-orders-ready>
  </ng-container>
</div>
