.modal {
  display: block;
  height: 1000%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.body-modal  {
  padding: 10px 30px;
  width: fit-content;
  background-color: darkgray;
  margin: 100px auto;
  text-align: center;
}

html {
  font-family: sans-serif;
}

.title-modal {
  font-family: 'Fredoka', sans-serif; 
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 1rem;
}

.table-title {
  font-size: 1.2rem;
  font-weight: bolder;
}

.table-total {
  font-size: 1.1rem;
  font-weight: bolder; 
  border-top: 2px solid rgb(56, 52, 52)
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: rgb(235,235,235);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
  background-color: rgb(245,245,245);
}

.button-modal {
  color: white;
  width: 200px;
  height: 40px;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(15, 43, 26, 0.55);
}

.button-send {
  background: rgba(38, 154, 28, 1);
}

.button-cancel {
  background: rgb(85, 84, 84);
}