<div class="modal">
    <div class="body-modal">
        <h1 class="title-modal">titulo modal</h1>
        <!-- <div class="content-modal" *ngFor="let data of productsCheck">
            <span>{{data.product.name}}</span>
            <span>{{data.qty}}</span>
            <span>{{data.product.price}}</span>
        </div>
        <p>Total: {{total}}</p> -->

        <table>
            <tr>
                <td>Cantidad</td>
                <td>Producto</td>
                <td>Precio c/u</td>
                <td>Precio total</td>
            </tr>
            <tr *ngFor="let data of productsCheck">
                <td>{{data.qty}} </td>
                <td>{{data.product.name}}</td>
                <td>{{data.product.price}}</td>
                <td>{{data.product.price * data.qty}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>{{total}}</td>
            </tr>
          </table>

        <button type="button" class="btn button-modal" (click)="confirmOrder()">Confirmar y enviar orden</button>
        <button type="button" class="btn button-modal" (click)="closeModal()">Cancelar</button>
    </div>
</div>