<div class="modal">
    <div class=" body-modal">
        <h2 class="title-modal">Cuenta</h2>
        <table>
            <tr>
                <td>Cant</td>
                <td>Producto</td>
                <td>Precio c/u</td>
                <td>Precio total</td>
            </tr>
            <tr *ngFor="let data of productsCheck">
                <td>{{data.qty}} </td>
                <td>{{data.product.name}}</td>
                <td>{{data.product.price}}</td>
                <td>{{data.product.price * data.qty}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>{{total}}</td>
            </tr>
          </table>
        <button type="button" class="btn button-modal" (click)="confirmOrder()">Confirmar y enviar orden</button>
        <button type="button" class="btn button-modal" (click)="closeModal()">Cancelar</button>
    </div>
</div>