<div class="bg-warning" id="wrapper">
    <div class="" id="sidebar-wrapper">
        <div class="mt-5 sidebar-heading text-center primary-text fw-bold text-uppercase title-nav">
            Burger 
            <br> 
            Queen
        </div>
        <div class="list-group list-group-flush my-3 container-icons">
            <section class= "h4 mt-3 list-group-item active orders">
                <i class="fas fa-utensils h1"></i>
                <sup class="sup-orders">0</sup>
                <br>
                <h3 class="itemNav">Ordenes listas</h3> 
            </section>
            <section class="h4 mt-2 list-group-item active user">
                <i class="fas fa-user-circle h1 me-2"></i>
                <br>
                 <h3 class="itemNav">Waiter</h3>
                <i class="fas fa-utensils-alt me-2"></i>
            </section>
        </div>
    </div>
</div>