<div class="container-main">
  <div id="sidebar-wrapper">
    <div class="text-center title-nav">
      BURGER
      <br />
      QUEEN
    </div>
    <div class="list-group list-group-flush ml-1 container-icons">
      <section
        *ngIf="user === 'admin'"
        class="h4 mt-2 list-group-item active user"
      >
        <i routerLink="/nav/admin" class="fas fa-user-circle h1 me-2"></i>
        <h3 class="itemNav">Administrador</h3>
      </section>

      <section
        *ngIf="user === 'admin' || user === 'waiter'"
        class="h4 mt-3 list-group-item active orders"
      >
        <i routerLink="/nav/waiter/ordain" class="fas fa-hamburger h1"></i>
        <h3 class="itemNav">Mesero</h3>
      </section>

      <section
        *ngIf="user === 'admin' || user === 'chef'"
        class="h4 mt-3 list-group-item active orders"
      >
        <i routerLink="/nav/chef" class="fas fa-utensil-spoon h1"></i>
        <h3 class="itemNav">Cocina</h3>
      </section>

      <section class="h4 mt-3 list-group-item active orders">
        <i (click)="logout('logout')" class="fas fa-caret-square-left h1"></i>
        <h3 class="itemNav">Salir</h3>
      </section>
    </div>
  </div>

  <div class="views">
    <router-outlet></router-outlet>
  </div>
</div>
