@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Roboto+Mono:wght@100;300&display=swap');

:root {
    --color-principal: yellow;
}

#sidebar-wrapper {
    min-height: 1000vh;
    background-color: black !important ;
}


.mt-5 {
    background-color: black !important ;   
}

.title-nav {
    font-family: 'Fredoka', sans-serif;
    font-size: 2.2rem;
    font-weight: 900;
    margin-top: 100% !important;
}

.sup-orders {
    top: -1em;
    right: -0.5em;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
    text-align: center;
}

.itemNav {
    font-family: 'Roboto Mono', monospace;
    font-weight:lighter;
    font-size: small;

}

.list-group-item.active {
    background-color: transparent;
    font-weight: bold;
}

@media only screen and (max-width: 915px) {
    
    #wrapper {
        width: 100%;
        height: 150px;
    }
     
    #sidebar-wrapper {
        min-height: 150px;
        height: 150px;
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .title-nav {
        height: 100%;
        width: 100%;
        margin: 0 !important;
        padding-top: 25px;
        text-align: center;
    }

    .container-icons {
        display: flex,;
        flex-flow: row wrap;
        margin-left: 45%  !important;
    }

    .user {
        margin: 16px 0 0 0 !important;
    }
    /*
    .itemNav {
        display: none;
    }

    .list-group {
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .main-products {
        margin-top: 20px;
    }

    #page-content-wrapper {
        width: 100%;
    }

    .title-nav {
        display: none;
    }


    .cart {
        display: flex;
        flex-direction: column;
        margin-left: 20%;
        border-radius: 20px;
        background-color: darkgray;

    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    } */
}