<div id="sidebar-wrapper">
  <div class="text-center title-nav">
    BURGER
    <br />
    QUEEN
  </div>
  <div class="list-group list-group-flush ml-1 container-icons">
    <section class="h4 mt-2 list-group-item active user">
      <i class="fas fa-user-circle h1 me-2"></i>
      <h3 class="itemNav">{{ getUser() }}</h3>
    </section>
    <section
      *ngIf="user === 'admin' || user === 'waiter'"
      class="h4 mt-3 list-group-item active orders"
    >
      <i class="fas fa-hamburger h1"></i>
      <h3 class="itemNav">Tomar pedido</h3>
    </section>
    <section
      *ngIf="user === 'admin' || user === 'waiter'"
      class="h4 mt-3 list-group-item active orders"
    >
      <i class="fas fa-utensils h1"></i>
      <sup class="sup-orders">{{ delivering }}</sup>
      <h3 class="itemNav">Ordenes listas</h3>
    </section>
    <section
      *ngIf="user === 'admin' || user === 'chef'"
      class="h4 mt-3 list-group-item active orders"
    >
      <i class="fas fa-fire h1"></i>
      <sup class="sup-orders">{{ cooking }}</sup>
      <h3 class="itemNav">Cocinando</h3>
    </section>
  </div>
</div>
