<div class="btnContainer">
    <button class="btn">Almuerzo</button>
    <button class="btn" >Desayuno</button>
</div>

<div class="container">
    <div class="row justify-content-between">  
    <!--cafe americano-->
<div class="card col-sm-4 ">
    <div class="card-info">
        <p class="text-title"><img src="../../../../assets/img/cafeAmericano.png" alt="imagen de cafe" align="right">Cafe americano</p>
        <h2 class="text-titlePrice">$5</h2>
    </div>
    <div class="card-footer">
        <button class="btnAgregar">
            <span class="text">Agregar</span>
        </button>
    </div>
</div>
<!--cafe con leche-->
<div class="card col-sm-4">
    <div class="card-info">
        <p class="text-title"><img src="../../../../assets/img/cafeAmericano.png"   alt="imagen de cafe" align="right"> Cafe latte</p>
        <h2 class="text-titlePrice">$7</h2>
    </div>
    <div class="card-footer">
        <button class="btnAgregar">
            <span class="text">Agregar</span>
        </button>
    </div>
</div>
<!--Sand j y queso-->
<div class="card col-sm-4">
    <div class="card-info">
        <p class="text-title"><img src="../../../../assets/img/cafeAmericano.png"  alt="imagen de cafe" align="right">Sand. Jamon y queso</p>
        <h2 class="text-titlePrice">$10</h2>
    </div>
    <div class="card-footer">
        <button class="btnAgregar">
            <span class="text">Agregar</span>
        </button>
    </div>
</div>

<!--Jugo naranja-->
<div class="card col-sm-4">
    <div class="card-info">
        <p class="text-title"><img src="../../../../assets/img/cafeAmericano.png" alt="imagen de cafe" align="right">Jugo Natural</p>
        <h2 class="text-titlePrice">$7</h2>
    </div>
    <div class="card-footer">
        <button class="btnAgregar">
            <span class="text">Agregar</span>
        </button>
    </div>
</div>
</div>
</div>