<div class="card">
  <div class="card-header">
    <div class="text-header">Nuevo producto</div>
  </div>
  <div class="card-body">
    <form action="#">
      <div class="form-group">
        <label for="username">Nombre:</label>
        <input required="" class="form-control" name="username" id="username" type="text" placeholder="Nombre del producto">
     
        <label for="url">Imagen</label>
        <input required="" class="form-control" name="email" id="email" type="email" placeholder="Url referencial del producto">
    
        <label >Tipo:</label>
        <input required="" class="form-control" name="password" id="password" placeholder="Desayuno o almuerzo">
     
        <label for="confirm-password">Precio</label>
        <input required="" class="form-control" name="confirm-password" id="confirm-password" placeholder="Precio del producto" >
      </div>
     <input type="submit" class="btn" value="Agregar nuevo producto">
    </form>
  </div>
</div>
<router-outlet></router-outlet>
