
<section class="py-5 gy-5 cart container">
  <form action="">
    <div class="row mt-5 mx-1 p-2 bg-dark text-white name-client">
      Nombre del cliente:
      <input type="text" name="" id="">
    </div>
    <div class="mt-5 card-item-order">
      <h4>Jugo natural</h4>
      <div class="d-inline-flex container">
        <br>
        <div class="col-md-5 bg-light ">
          <button class="col">-</button>
          <input type="text" name="" id="" class="col-sm-4" value="1">
          <button class="col">+</button>
        </div>
        <div class="col ms-5 price-item-order">$10</div>
      </div>
    </div>
    <div class="mt-5 card checkout">
      <div class="details">
        <span>Subtotal:</span>
        <span>$47.99</span>
        <br>
        <span>Impuestos:</span>
        <span>$13.01</span>
      </div>
      <div class="">
        <label class="total">Total: $60.00</label>
        <br>
        <button class="checkout-btn">Finalizar pedido</button>
      </div>
    </div>
  </form>
    <!-- <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> -->
</section>
