
<section class="py-5 cart">
  <form action="">
    <div class="row mt-3 mx-2 p-2 bg-dark text-white name-client">
      Nombre del cliente:
      <input type="text" name="" id="">
    </div>
    <div class="card-items">
      <div class="mt-4 mx-2 card-item-order">
        <h4 class="m-2 pt-2 title-item">Jugo natural</h4>
        <div class="d-inline-flex container">
          <br>
          <div class="bg-light rounded-pill mb-2 more-less">
            <i class="fas fa-minus-circle ms-1 icons"></i>
            <input type="number" name="" id="" class="col-sm-3 ms-2 fs-2 input-amount" value="1">
            <i class="fas fa-plus-circle"></i>
          </div>
          <div class="col text-end fw-bolder fs-2 me-3 price-item-order">$10</div>
        </div>
      </div>
    </div>
    <div class="text-white bg-dark my-3 py-3 mx-2 card checkout">
      <div class="container details">
        <span>Subtotal:</span>
        <span class="">$47.99</span>
      </div>
      <div class="container details">  
        <span>Impuestos:</span>
        <span class="">$13.01</span>
      </div>
      <div class="container">
        <label class=" details total">
          <span>Total</span> 
          <span>$60.00</span> 
        </label>
      </div>
    </div>
    <button class="mx-2 rounded-pill text-white fw-bold checkout-btn">Finalizar pedido</button>
  </form>
</section>
