<div class="card">
  <div class="card-header">
    <div class="text-header">Editar datos de usuario</div>
  </div>
  <div class="card-body">
    <form [formGroup]="userForm">
      <!-- (ngSubmit)="editUser()" -->
      <div class="form-group">
        <label>Correo:</label>
        <input
          formControlName="email"
          class="form-control"
          id="username"
          type="email"
          placeholder="Nombre del producto"
        />

        <label>Rol:</label>
        <input
          formControlName="role"
          class="form-control"
          id="email"
          type="text"
          placeholder="Admin, chef o waiter"
        />
        <button type="button" class="btn" (click)="changedPassword()">
          Cambiar contraseña
        </button>

        <ng-container *ngIf="changePassword">
          <label>Nueva contraseña:</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            id="password"
            placeholder="****************"
          />
        </ng-container>
      </div>
      <button type="submit" class="btn" [disabled]="userForm.invalid">
        Editar producto
      </button>
    </form>
  </div>
</div>
