@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Roboto+Mono:wght@100;300&display=swap');



.titulo{
    font-family: 'Fredoka', sans-serif;
    color:black;
}

.bg-image{
background-repeat: no-repeat;
background-size: cover;
background: white;
height: 100vh;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: none;
   
}
.form-control{
    background: none;
    border: none;
}

.form-label{
    color: black !important;
    font-family: 'Fredoka', sans-serif !important;
    font-size: x-large;

}
.underline {
   color: black;
  }

  input{
    color: white;
  }

.form{
    width: 100%;
 
}
/*tablet*/
@media (max-width: 960px ) {
    * {
        margin: 0;

    }

    .form-label{
        color: rgb(255, 255, 255) !important;
        font-family: 'roboto', sans-serif;

    }

    .col-lg-5{
        padding-top: 50%;
    }

    .form-control{
        background: none;
        border: none;
    }
    
    .titulo{
        color: white;
        font-size: 80px;
        padding-top: 50px;
    }

  
    .underline {
       color: black;
      }
      input{
        color:white;
      }

    .bg-image{
        background-image: url(https://images.pexels.com/photos/2015097/pexels-photo-2015097.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        z-index: 1;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        position: relative;
    }
}


