<h2 class="tittle">Usuarios</h2>
<section class="container-users">
  <button
    type="button"
    class="btn btn-dark"
    [routerLink]="'/nav/admin/newUser'"
  >
    Nuevo usuario
  </button>
  <table class="table">
    <thead>
      <tr>
        <th class="tittle-table" scope="col">Id</th>
        <th class="tittle-table" scope="col">Rol</th>
        <th class="tittle-table" scope="col">Correo</th>
      </tr>
    </thead>
    <tbody [id]="'product' + data.id" *ngFor="let data of users">
      <tr>
        <th scope="row">{{ data.id }}</th>
        <td class="product-table">{{ data.role }}</td>
        <td class="product-table">{{ data.email }}</td>
        <td>
          <button
            [routerLink]="'/nav/admin/editUser'"
            (click)="sendUserToEdit(data)"
            type="button"
            class="btn btn-success"
          >
            Editar
          </button>
        </td>
        <td class="product-table">
          <button
            type="button"
            class="btn btn-danger"
            (click)="deleteUser(data.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
