<div class="bg-image row">
    <div class="col-lg-5">
          <h1 class="titulo p-5">BUEGER QUEEN</h1>
        <div class="card-body">
            <form (ngSubmit)="process()" class="border p-4 form">
                <!--<form >-->
                <div class="mb-3">
                    <label for="exampleInputUser" class="form-label">USUARIO</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        name="user" placeholder="" [(ngModel)]="credential.user">
                        <div class="underline">___________________________</div>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">PASSWORD</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                        placeholder="" [(ngModel)]="credential.password">
                        <div class="underline">___________________________</div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-dark">Enviar</button>
            </form>
    </div>
    <div class="col-lg-7">
        
                <!--</form>
<div class="nb-2">
    <label class="form-group">
     Usuario:
    </label>
    <input type="email" class="form-control" name="user" placeholder="porfavor ingrese su usuario" [(ngModel)]="credential.user">
</div>
<div>
    <label class="form-group">
     Contrasena:
    </label>
    <input type="password" class="form-control" name="password" placeholder="por favor ingrese una contrasena" [(ngModel)]="credential.password">
</div>
<button class="btn btn-primary">
Enviar
</button>-->
           
        </div>
    </div>
</div>